.adminUsersContainer {
    table {
        .sendMessageBox {
            display: flex;
            align-items: center;

            img {
                cursor: pointer;
            }
        }
    }

}