@import "../global.scss";

.subscriptionBox {
    border: 5px solid $primary-color;
    width: 400px;

    .subscribeBtn {
        width: 100%;
        background-color: $primary-color;
        border: none;
        color: white;
    }
}